NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB8jK16tmzNHRyVaYZ4SR8dLBp9VUj3_XQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=z-suite-personal-gestion.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=z-suite-personal-gestion
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=z-suite-personal-gestion.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=146329661705
NEXT_PUBLIC_FIREBASE_APP_ID=1:146329661705:web:be74a1a88a4b43842723d8
